[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.1.1"
django-dotenv = "*"
six = "*"
"psycopg2-binary" = "*"
gensim = "*"
nltk = "*"
"mecab-python3" = "*"
slackweb = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
numpy = "*"

[dev-packages]
django-extensions = "*"
jupyter = "*"
ipython = "==6.5.0"

[requires]
python_version = "3.6"
